<h1>Listing assignments</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= link_to assignment.title, assignment %></td>
    <td><%= assignment.description %></td>
    <td>
      <% if can? :edit, assignment %>
        <%= link_to 'Edit', edit_assignment_path(assignment) %>
      <% end %>
    </td>
    <td>
      <% if can? :destroy, assignment %>
        <%= link_to 'Destroy', assignment, confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Assignment %>
  <%= link_to 'New Assignment', new_assignment_path, class: 'btn btn-primary' %>
<% end %>
