<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @assignment.title %>
</p>

<p>
  <b>Description:</b>
  <% if @assignment.description.present? %>
    <% markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML %>
    <%= markdown.render(@assignment.description).html_safe %>
  <% end %>
</p>

<p>
  <b>Levels</b>

  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Uploader</th>
      <th>
    </thead>
    <tbody>
      <% @assignment.levels.each do |level| %>
        <tr>
          <td>
            <%= link_to level.name, level.level_file.url %>
          </td>
          <td>
            <%= level.description %>
          </td>
          <td>
            <%= avatar_for(level.user) %>
            <%= level.user.gamer_tag %>
          </td>
          <td>
            <% if can? :read_comments, level %>
              <%= link_to 'Comments', level_comments_path(level), class: 'btn btn-info btn-mini' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Upload Level', new_assignment_level_path(@assignment), class: 'btn btn-primary' %>
</p>


<% if can? :edit, @assignment %>
  <%= link_to 'Edit', edit_assignment_path(@assignment), class: 'btn' %>
<% end %>
<%= link_to 'Back', assignments_path, class: 'btn' %>
