<h1>Comments</h1>

<table class="table table-striped">
  <tr>
    <th>Author</th>
    <th>Body</th>
    <th>When</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td style="width: 20%;">
      <%= avatar_for(comment.author) %>
      <%= comment.author.gamer_tag %>
    </td>
    <td style="width: 50%;">
      <% markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML %>
      <%= markdown.render(comment.body).html_safe %>
    </td>
    <td><%= time_ago_in_words(comment.created_at) %> ago</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_level_comment_path, class: 'btn btn-primary' %>
<%= link_to 'Back', assignment_path(@level.assignment), class: 'btn' %>
