<!DOCTYPE html>
<html>
<head>
  <title>KoduLearning</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
      <table>
        <tr>
          <td><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></td>
        </tr>
      </table>
  <% else %>
      <table>
        <tr>
          <td><%= link_to('Login', new_user_session_path)  %> </td>
          <td><%= link_to('Register', new_user_registration_path)  %></td>
        </tr>
      </table>
   <% end %>

  <%= yield %>
</body>
</html>
