!!! 5
%html
  %head
    %title
      KoduLearning
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = render 'layouts/navbar'
      = render 'layouts/notice'

      ~ yield

    %br
    = link_to '..psst', awesomesauce_path, style: 'font-size: 31.4%; color: red;' 
